# dependencies
/node_modules
/.pnp
.pnp.js
/.cache

# testing
/server_test

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# cache
.parcel-cache

# local env files
.env
.local
config.env

dist