body {
  margin: 0;
  padding: 0;
}

.form-controller {
  height: 10vh;
  background: rgb(228, 207, 207);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form-controller input:focus {
  outline: none;
}

#map {
  height: 90vh;
}
